services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend

